@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=greek,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap&subset=latin-ext');

*{

    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-image:url("../images/image1.jpg") ;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contend{
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    background-color:black;
    width: 500px;
    height: 500px;
    position: relative;
    padding: 10px;
    margin: 10px auto;
}

#headReg {

   text-decoration: none;
   margin : 10px  auto ;
   text-align: center;
   font-size: 60px;
   opacity: 1;
}

#profilePic{
    width: 150px;
    margin-left: 170px;
    margin-top: -70px;
   

   
}

input[type="text"], input[type="password"],input[type="date"],input[type="number"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    padding-left:12px;
    color:white;
    padding:10px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;

}


#show-result{

    font-family: 'Titillium Web', sans-serif;

}

.submitBtn{

    font-size:20px;
    background-color: crimson;
    border:none;
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: white;
    position:absolute;
    margin-left: 100px;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}


